<p>
    <mat-toolbar id="p">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     
      </button>
      <span id = "span">Spotify</span>
      <span class="example-spacer"></span>
      <a routerLink="../login"><button  mat-raised-button color="accent" style="margin-left: 20px;">Log In</button></a>
      <a routerLink="../registration"><button  mat-raised-button color="accent" style="margin-left: 20px;">Register</button></a>
      <a routerLink="../dashboard"><button  mat-raised-button color="accent" style="margin-left: 20px;">Home</button></a>
     
    </mat-toolbar>

   
  </p>
 