
<div class="container">
    <div class="row">
      <div class="col-lg-3 m-2  p-3 mb-5 bg-white rounded"   *ngFor="let track of song" >
        <mat-card class="example-card">
           <div >
            <h1>{{track.songId}}</h1>
             <h1><b>{{track.songName}}</b></h1>
              <h3>{{track.artistName}}</h3>
              <h3>{{track.genre}}</h3>
              <button (click)="addToPlaylist(track)">Add</button>
            </div>
        </mat-card>
      </div>
  </div>
</div>




